{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/updateprod/{{contact.0}}" method="POST">
          <div class="form-group">
              <input type="text" name="fullname" class="form-control" value="{{contact.1}}" required>
            </div>
            <div class="form-group">
              <input type="number" name="precio" class="form-control" step="0.1" min=0.1 value="{{contact.2}}" required>
            </div>
            <div class="form-group">
              <input type="text" name="descripcion" class="form-control" value="{{contact.3}}" required>
            </div>
            <div class="form-group">
              <input type="number" min=1 name="existencias" class="form-control" value="{{contact.4}}" required>
            </div>
          <div class="form-group">
            <select name="seccion" required class="form-control">
              {%for se in sec%}
              <option value="{{se.0}}">{{se.1}}</option> 
              {%endfor%}
            </select>
          </div>
          <div class="form-group">
            <select name="categoria" required class="form-control">
                {%for ca in cat%}
                <option value="{{ca.0}}">{{ca.1}}</option> 
                {%endfor%}
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Modificar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
