{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{contact.0}}" method="POST">
          <div class="form-group">
            <input type="text" name="fullname" value="{{contact.1}}" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="text" name="phone" value="{{contact.2}}" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="text" name="password" value="{{contact.3}}" class="form-control" required>
          </div>
          <div class="form-group">
            <input type="email" name="email" value="{{contact.4}}" class="form-control"required>
          </div>
          <div class="form-group">
            <select name="sexo" required class="form-control" required>
              <option value="M">Masculino</option> 
              <option value="F">Femenino</option>
            </select>
          </div>
          <div class="form-group">
            <select name="puesto" required class="form-control" required>
              <option value="Administrador">Administrador</option> 
              <option value="Empleado">Empleado</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Modificar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
