<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CaffeMartha</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="{{url_for('crear')}}">Crear usuario</a>
    </nav>

    <div class="container pt-4">
      {% block body %}
      {% endblock %}
    </div>
    
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
